html{
  background-color: #185165;
}

.container-fluid{
  background-color: #185165;
}

input[type="text"]{
  background: transparent;
  color:white;
}

input[type="text"]:focus{
  background: transparent;
  color:white;
}